html, body {
    height: calc(100% - 25px);
    margin: 1px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page{
    padding: 5px;
    width: 100%;
    min-width: 800px;
    height: 100%;
    min-height: 400px;
}

ul.ui-menu-child {
    width: auto !important;
    white-space: nowrap;
}

li.ui-menubar-options {
    margin: 1px !important;
}

.top {
    margin-bottom: 5px;
    width:100%;
    border-radius: 5px;
    border: 1px solid black;
}

.panes-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.left-pane {
    width:25%;
}

.panes-separator {
    width: 10px;
    position: relative;
    cursor: col-resize;
}

.right-pane {
    flex: auto;
}

.panes-container,
.panes-separator,
.left-pane,
.right-pane {
    margin: 0 0 5px 0;
    padding: 0;
    height: 100%;
}

.box {
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;
    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 1 auto;
}

.fieldwrapper {
    white-space: nowrap;
}

.col {
    width: 100%;
}

#navig\:objType_panel {
    width: 220px !important;
}

#navigPanel_content {
    height: calc(100% - 37px);
    padding: 2px;
}

#navig\:search_panel {
    width: 220px !important;
}

.tree {
    height:calc(100% - 83px);
    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;
    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 1 auto;
    overflow: auto;
}

.ui-datatable table {
    table-layout: auto !important;
}

#dataPanel_content {
    height: calc(100% - 100px);
}

#dataGrid .ui-datatable-scrollable-body {
    max-height: calc(100% - 37px) !important;
}