<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
    <ui:composition template="/view/template/portalTempl.xhtml">
        <ui:param name="bean" value="#{data}"/>
        <ui:param name="method" value="showName"/>
        <ui:param name="updatePath" value=":dataPanel"/>

        <ui:define name="left-pane">
            <ui:include src="/view/template/navigTempl.xhtml"/>
        </ui:define>

        <ui:define name="right-pane">
            <p:panel id="dataPanel" header="Архивные данные #{data.headerName}" style="width: 100%; height: 100%;">
                <p:dataTable id="dataGrid" var="test" value="#{data.gridData}" scrollable="true" scrollHeight="100"
                             style="height: 100%;" emptyMessage="Не выбран объект">
                    <p:columns var="column" value="#{data.columns}">
                        <f:facet name="header">
                            <h:outputText value="#{column.header}"/>
                        </f:facet>
                        <h:outputText value="#{test[column.property]}"/>
                    </p:columns>
                </p:dataTable>
            </p:panel>
        </ui:define>
    </ui:composition>
</h:body>
</html>
