<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <h:outputStylesheet name="style.css" library="css"/>
    <script type="text/javascript" src="https://cdn.rawgit.com/lingtalfi/simpledrag/master/simpledrag.js"/>
    <h:outputScript name="script.js" library="js" target="body"/>
</h:head>
<h:body>
    <p:ajaxStatus style="width: 32px; height: 32px; position: fixed; right: 20px; bottom: 20px">
        <f:facet name="start">
            <i class="pi pi-spin pi-spinner" style="font-size: 3em"/>
        </f:facet>

        <f:facet name="complete">
            <h:outputText value="" />
        </f:facet>
    </p:ajaxStatus>

    <div id="page">
        <div class="top">
            <ui:insert name="header">
                <ui:include src="/view/template/headerTempl.xhtml"/>
            </ui:insert>
        </div>

        <div class="panes-container">
            <div class="left-pane" id="left-pane">
                <div class="box">
                    <ui:insert name="left-pane">
                        <ui:include src="/view/template/contentTempl.xhtml"/>
                    </ui:insert>
                </div>
            </div>

            <div class="panes-separator" id="panes-separator"/>

            <div class="right-pane" id="right-pane">
                <div class="box">
                    <ui:insert name="right-pane">
                        <ui:include src="/view/template/contentTempl.xhtml"/>
                    </ui:insert>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>
