<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Login form</title>

    <style type="text/css">
        #container {
            display: table;
            margin: 0 auto;
            border: 1px solid #ddd;
            padding: 5px;
        }
    </style>
</h:head>
<h:body>
    <div id="container">
        <h:form id="login" onsubmit="action='j_security_check'" prependId="false">
            <h:panelGrid columns="2">
                <p:outputLabel for="j_username" value="Username"/>
                <p:inputText id="j_username"/>
                <p:outputLabel for="j_password" value="Password"/>
                <p:password id="j_password" autocomplete="off"/>
            </h:panelGrid>
            <div align="center">
                <p:commandButton id="submit" value="Login" ajax="false" />
            </div>
        </h:form>
        <div align="center">
            <h:outputText rendered="#{param['wrongCredentials'] != null}" value="Wrong username or password" />
        </div>
    </div>
</h:body>
</html>
